
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>UniLibrary</title>
<link href="http://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet" />
<link href="librarian.component.scss" rel="stylesheet" type="text/css" media="all" />

</head>
<body>

<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a>UniLibrary</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li><a href="welcome" accesskey="1" title="">HOME</a></li>
                <li><a href="gallery" caccesskey="2" title="">GALLERY</a></li>
                <li><a href="ask me" caccesskey="3" title="">ASK ME</a></li>
			</ul>
		</div>
    </div>
</div>

<div id="wrapper">
    <div class="form-row">
        <div class="form-group col-md-9">
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Search by title/author/genre">
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-secondary">Search</button>
        </div>
    </div>
        <div class="form-row">
        <div class="form-group col-md-2">
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Year">
          </div>
          <div class="form-group col-md-2">
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Genre">
          </div>
          <div class="form-group col-md-2">
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Type">
          </div>
          <div class="form-group col-md-2">
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Author">
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-secondary">Filter by</button>
        </div>
    </div>
    
    
</div>


<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">   
<footer class="footer text-center">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<span class="copyright">&copy;Design by UniLibrary.</span>	
			</div>
		</div>
	</div>
</footer>
</body>
</html>

