<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>UniLibrary</title>
<link href="http://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet" />
<link href="welcome.component.scss" rel="stylesheet" type="text/css" media="all" />

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a>UniLibrary</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li><a href="account/login" accesskey="1" title="">PRIVATE AREA</a></li>
				<li><a href="gallery" caccesskey="2" title="">GALLERY</a></li>
			</ul>
		</div>
	</div>
	<div id="banner" class="container">
		<div class="title">
			<h2>"Il tempo per leggere, come il tempo per amare, dilata il tempo per vivere".</h2>
			<span class="byline">Daniel Pennac</span>
		</div>
	</div>
</div>
  

<div id="wrapper">
	<div id="three-column" class="container">
		<div class="title">
			<span class="byline">
        <p>L'Università di Bologna continua a puntare sull’eccellenza della didattica, della ricerca all’avanguardia, 
        della presenza sul territorio, dell'apertura internazionale e dei servizi informativi; 
        in questi e in molti altri ambiti l'Alma Mater promuove e percorre oggi la strada dell'innovazione.</p>
        <p>Nell'anno 2019, l'Università di Bologna contava più di 50.000 periodici online, 400.000 libri elettronici e 
        735 banche dati cui dà accesso il Sistema Bibliotecario di Ateneo.</p>
        <p>La maggior parte dei periodici e libri elettronici e cartacei riguardano aree disciplinari come:  l'economia, il diritto, le scienze sociali 
        (scienze politiche, relazioni internazionali, sociologia), le lingue e le letterature straniere, la linguistica 
        e la sociolinguistica, l'ingegneria aerospaziale e meccanica.</p>
        <p>Il ricco patrimonio documentario viene aggiornato ed incrementato da circa 3000 nuovi acquisti ogni anno.</p>
        <p>Questa istituzione didattica si sta migliorando in continuazione e per questo motivo vuole fornire i 
        miglior servizi ai suoi studenti.</p>
        <p>L'Università di Bologna vuole offrire agli studenti un sito per poter navigare ed esplorare il patrimonio intellettuale dell'università,
           in formato cartaceo ed elettronico.</p>
        <p>Così nasce UniLibrary, un progetto per la gestione e prenotazione di libri in modalità online.</p></span>
    </div>
  </div>
  <div class="banners">
  </div>
</div>



<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">   
<footer class="footer text-center">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<span class="copyright">&copy;Design by UniLibrary.</span>	
			</div>
			<div class="col-md-2">
				<i class="fa fa-github"></i>
			</div>
		</div>
	</div>
</footer>
</body>
</html>

	
