

.is-info{
    color: blue($color: #000000);
}

.is-fullheight{
    height: 100vh;
} 

.hero{
    background-image: url('../assets/images/canyon.jpg') !important;
    background-size: cover;
    background-position: center center;
} 