<div class="container">
  <div class="row">
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12">
<input type="text" class="form-control" placeholder="Search by title / genre / author"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="col">
                    <div ngbDropdown class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
                      <button class="btn btn-outline-default dropdown" id="dropdownBasic1" ngbDropdownToggle>
                        {{selectedYear}}</button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1 dropdown">
                        <button *ngFor="let year of years" ngbDropdownItem (click)="changeYear(year)">
                          {{year}}
                        </button>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-3">
                <div class="col">
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-outline-default dropdown" id="dropdownBasic1" ngbDropdownToggle>
                        {{selectedGenre.title}}</button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1 dropdown">
                        <button *ngFor="let genre of genres" ngbDropdownItem (click)="changeGenre(genre)">
                          {{genre.title}}
                        </button>
                      </div>
                    </div>
                  </div>
            </div>
           <div class="col-md-3">
            <div class="col">
                <div ngbDropdown class="d-inline-block">
                  <button class="btn btn-outline-default dropdown" id="dropdownBasic1" ngbDropdownToggle>
                    {{selectedType.title}}
                  </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1 dropdown">
                  
                    <button *ngFor="let bookType of bookTypes" ngbDropdownItem (click)="changeType(bookType)">
                      {{bookType.title}}
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
                <div class="col">
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-outline-default dropdown" id="dropdownBasic1" ngbDropdownToggle>
                        {{selectedAuthor.name}}</button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1 dropdown">
                      
                        <button *ngFor="let author of authors" ngbDropdownItem (click)="changeAuthor(author)">
                          {{author.name}}
                        </button>
                      </div>
                    </div>
                  </div>
            </div>

        

        </div>

    </div>
    <div class="col-md-2">
        <div class="row">
            <div>
<button class="btn-success button-search">
    Search
</button>
<button class="btn-success button-search">
    Filter by
</button>

            </div>
            <div>
       
            </div>

        </div>
    </div>
    

</div>
</div>
