<div class="row">
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12">
<input type="text" class="form-control" placeholder="Search by title / genre / author"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="col">
                    <div ngbDropdown class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
                      <button class="btn btn-outline-default dropdown" id="dropdownBasic1" ngbDropdownToggle>Year</button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1 dropdown">
                        <button ngbDropdownItem>1970</button>
                        <button ngbDropdownItem>1971</button>
                        <button ngbDropdownItem>1972</button>
                        <button ngbDropdownItem>1973</button>
                        <button ngbDropdownItem>1974</button>
                        <button ngbDropdownItem>1975</button>
                        <button ngbDropdownItem>1976</button>
                        <button ngbDropdownItem>1977</button>
                        <button ngbDropdownItem>1978</button>
                        <button ngbDropdownItem>1979</button>
                        <button ngbDropdownItem>1980</button>
                        <button ngbDropdownItem>1981</button>
                        <button ngbDropdownItem>1982</button>
                        <button ngbDropdownItem>1983</button>
                        <button ngbDropdownItem>1984</button>
                        <button ngbDropdownItem>1985</button>
                        <button ngbDropdownItem>1987</button>
                        <button ngbDropdownItem>1988</button>
                        <button ngbDropdownItem>1989</button>
                        <button ngbDropdownItem>1990</button>
                        <button ngbDropdownItem>1991</button>
                        <button ngbDropdownItem>1992</button>
                        <button ngbDropdownItem>1993</button>
                        <button ngbDropdownItem>1994</button>
                        <button ngbDropdownItem>1995</button>
                        <button ngbDropdownItem>1996</button>
                        <button ngbDropdownItem>1997</button>
                        <button ngbDropdownItem>1998</button>
                        <button ngbDropdownItem>1999</button>
                        <button ngbDropdownItem>2000</button>
                        <button ngbDropdownItem>2001</button>
                        <button ngbDropdownItem>2002</button>
                        <button ngbDropdownItem>2003</button>
                        <button ngbDropdownItem>2004</button>
                        <button ngbDropdownItem>2005</button>
                        <button ngbDropdownItem>2006</button>
                        <button ngbDropdownItem>2007</button>
                        <button ngbDropdownItem>2008</button>
                        <button ngbDropdownItem>2009</button>
                        <button ngbDropdownItem>2010</button>
                        <button ngbDropdownItem>2011</button>
                        <button ngbDropdownItem>2012</button>
                        <button ngbDropdownItem>2013</button>
                        <button ngbDropdownItem>2014</button>
                        <button ngbDropdownItem>2015</button>
                        <button ngbDropdownItem>2016</button>
                        <button ngbDropdownItem>2017</button>
                        <button ngbDropdownItem>2018</button>
                        <button ngbDropdownItem>2019</button>
                        <button ngbDropdownItem>2020</button>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-3">
                <div class="col">
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-outline-default dropdown" id="dropdownBasic1" ngbDropdownToggle>Genre</button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1 dropdown">
                        <button ngbDropdownItem>Fantasy</button>
                        <button ngbDropdownItem>Adventure</button>
                        <button ngbDropdownItem>Romance</button>
                        <button ngbDropdownItem>Contemporary</button>
                        <button ngbDropdownItem>Dystopian</button>
                        <button ngbDropdownItem>Mystery</button>
                        <button ngbDropdownItem>Horror</button>
                      </div>
                    </div>
                  </div>
            </div>
           <div class="col-md-3">
            <div class="col">
                <div ngbDropdown class="d-inline-block">
                  <button class="btn btn-outline-default dropdown" id="dropdownBasic1" ngbDropdownToggle>Type</button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1 dropdown">
                    <button ngbDropdownItem>Fiction</button>
                    <button ngbDropdownItem>Non-fiction</button>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
                <div class="col">
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-outline-default dropdown" id="dropdownBasic1" ngbDropdownToggle>Author</button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1 dropdown">
                        <button ngbDropdownItem>William Shakespeare</button>
                        <button ngbDropdownItem>Agatha Christie</button>
                        <button ngbDropdownItem>Barbara Cartland</button>
                        <button ngbDropdownItem>Danielle Steel</button>
                        <button ngbDropdownItem>Harold Robbins</button>
                        <button ngbDropdownItem>Georges Simenon</button>
                        <button ngbDropdownItem>Sidney Sheldon</button>
                        <button ngbDropdownItem>J. K. Rowling</button>
                        
                      </div>
                    </div>
                  </div>
            </div>

        

        </div>

    </div>
    <div class="col-md-2">
        <div class="row">
            <div>
<button class="btn-success button-search">
    Search
</button>
<button class="btn-success button-search">
    Filter by
</button>

            </div>
            <div>
       
            </div>

        </div>
    </div>
    

</div>

<p>filter works!</p>