<div class="row">
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12">
<input type="text" class="form-control" placeholder="Search by title / genre / author"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="col">
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-outline-default dropdown" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1 dropdown">
                        <button ngbDropdownItem>Action - 1</button>
                        <button ngbDropdownItem>Another Action</button>
                        <button ngbDropdownItem>Something else is here</button>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-3">
3
            </div>
           <div class="col-md-3">
            4 
            </div>
            <div class="col-md-3">
5
            </div>
        </div>

    </div>
    <div class="col-md-2">
        <div class="row">
            <div>
<button class="btn-success button-search">
    Search
</button>
            </div>
            <div>
                
            </div>

        </div>
    </div>

</div>

<p>filter works!</p>