<div class="header" *ngIf="user">
  <div class="navbar">
      <div class="logo">
          <h2>UniLibrary</h2>
      </div>
      <div class="menu">
          <ul>
              <li><a class="nav-item nav-link" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
              <li><a class="nav-item nav-link" routerLink="/admin" *ngIf="isAdmin">Admin</a></li>
              <li><a class="nav-item nav-link" routerLink="/gallery" *ngIf="isLibrarian">Gallery</a></li>
              <li><a class="nav-item nav-link" routerLink="/gallery" *ngIf="isReader">Gallery</a></li>
              <li><a class="nav-item nav-link" routerLink="/chat" *ngIf="isLibrarian">Chat</a></li>
              <li><a class="nav-item nav-link" routerLink="/chat" *ngIf="isReader">Chat</a></li>
              <li><a class="nav-item nav-link" (click)="logout()">Logout</a></li>
          </ul>
      </div>
  </div>
</div>


<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
  <alert></alert>
  <router-outlet></router-outlet>
</div>
