<div class="header" *ngIf="user">
  <div class="navbar">
      <div class="logo">
          <h2>UniLibrary</h2>
      </div>
      <div class="menu">
          <ul>
              <li><a class="nav-item nav-link" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
              <li><a class="nav-item nav-link" routerLink="/admin" *ngIf="isAdmin">Admin</a></li>
              <li><a class="nav-item nav-link" routerLink="/gallery" *ngIf="isLibrarian">Gallery</a></li>
              <li><a class="nav-item nav-link" routerLink="/gallery" *ngIf="isReader">Gallery</a></li>
              <li><a class="nav-item nav-link" routerLink="/chat" *ngIf="isLibrarian">Chat</a></li>
              <li><a class="nav-item nav-link" routerLink="/chat" *ngIf="isReader">Chat</a></li>
              <li><a class="nav-item nav-link" (click)="logout()">Logout</a></li>
          </ul>
      </div>
  </div>
</div>


<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
  <alert></alert>
  <router-outlet></router-outlet>
</div>
<!-- Footer -->
<footer class="page-footer font-small blue pt-4 bg-dark text-white">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mt-md-0 mt-3">

        <p>Adress: Via Misro Rei, 489</p>
          <p>
           CAP: 47521,Ceseno,IT
          </p>
          <p>
              Email: unilabrary@gmail.com
             </p>
             <p>
                Tel: +2488424
               </p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
