<div class="card mt-3 hadow-lg">

  <h1 class="card-header" *ngIf="isAddMode">Add User</h1>
  <h1 class="card-header"*ngIf="!isAddMode">Edit User</h1>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-row">
            <div class="form-group col-2">
                <label for="name">Name</label>
                <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">First Name is required</div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-2">
                <label for="surname">Surnamee</label>
                <input type="text" formControlName="surname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.surname.errors }" />
                <div *ngIf="submitted && f.surname.errors" class="invalid-feedback">
                    <div *ngIf="f.surname.errors.required">Last Name is required</div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-2">
                <label for="username">Username</label>
                <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-2">
                <label for="password">
                    Password
                    <em *ngIf="!isAddMode">(Leave blank to keep the same password)</em>
                </label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-2">
                <label for="role">Role</label>
                <select  class="form-control" formControlName="role" (change)="changeSuit($event)">
                    <option value="">Role</option>
                    <option *ngFor="let suit of roles">{{suit}}</option>
                </select>          
                <div *ngIf="submitted && handleError('name', 'required')" class="invalid-feedback">
                    <div *ngIf="f.role.errors.required">Role is required</div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <button [disabled]="loading"  class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                   Save
                </button>
                <a routerLink="/admin" class="btn btn-link">Cancel</a>
        </div>   
    </form> 
  </div>
</div>