<div class="card mt-4">
    <h4 class="card-header">Admin</h4>
    <div class="card-body">
        <p>This page can be accessed <u> <strong> by administrators</strong></u> only. From this interface you can: You can add a new user from this interface. </p>
        <ul>
            <li> add a new user</li>
            <li> edit an already registered user</li>
            <li> delete an already registered user</li>
        </ul>
        <p>Keep in mind that if you delete yourself from the list, you will be auto-loggout automatically.</p>
    </div>
</div>




<div class="card mt-4">
    <h4 class="card-header">All users list</h4>
    <div class="card-body">
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th style="width: 30%">First Name</th>
                    <th style="width: 30%">Last Name</th>
                    <th style="width: 30%">Username</th>
                    <th>
                        <a routerLink="add" class="btn btn-sm btn-secondary mb-2">Add User</a>
                    </th>
                    <!-- <th style="width: 10%"></th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{user.name}}</td>
                    <td>{{user.surname}}</td>
                    <td>{{user.username}}</td>
                    <td style="white-space: nowrap">
                        <a routerLink="edit/{{user.username}}" class="btn btn-sm btn-primary mr-1">Edit</a>
                        <button (click)="deleteUser(user.username)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="user.isDeleting">
                            <span *ngIf="user.isDeleting" class="spinner-border spinner-border-sm"></span>
                            <span *ngIf="!user.isDeleting">Delete</span>
                        </button>
                    </td>
                </tr>
                <tr *ngIf="!users">
                    <td colspan="4" class="text-center">
                        <span class="spinner-border spinner-border-lg align-center"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

