.pretty-bg {    
    background: -webkit-linear-gradient(-150deg, #dbdbd9, #898776);
    background: -o-linear-gradient(-150deg, #dbdbd9, #898776);
    background: -moz-linear-gradient(-150deg, #dbdbd9, #898776);
    background: linear-gradient(-150deg, #dbdbd9, #898776);
    
    min-height: 100vh;
  }